body {
	margin: 0;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
	background-color: #E7E7E7;
	background-image: url("../img/背景.jpg") ;
	/* background-repeat: no-repeat;
	background-size:100% 100%; */
}

marquee {
	color: aliceblue;
	margin-top: 10px;
	align-self: center;
}

header,
footer {
	width: 100%;
}

header {
	top: 10px;
	left: 0px;
	width: 100%;
	/* height: 85px; */
	height: 10%;
	
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
	background-color: dimgrey;
	color: aliceblue;
	/* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}
.left{
	background-image: url("../img/夏目.jpg");
	width: 10%;
	height: 100%;
	background-size: ;
}
.center{
	width: 80%;
	height: 100%;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
}
.right{
	background-image: url("../img/鲁鲁修.jpg");
	width: 10%;
	height: 100%;
}
.title {
	font-size: 1.65rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	/* margin-bottom: 10px; */
	
}
.title:has(#introduction){
	margin-top: 10px;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	/* margin-bottom: 10px; */
}
#introduction{
	text-align: center;
}

/* .container_title{
	
} */

#pageName {
	font-size: 1.8rem;
}

.main {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	height: 100%;
	overflow: auto;
	/* padding-top: 30px; */
	padding-right: 0px;
	/* padding-bottom: 30px; */
	padding-left: 0px;
	margin-top: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
}

.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
}

.container {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 6px;
	margin: 10px 10px;
	
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	/* justify-content: space-around; */
	background-color: white;
	/* width: 90%;
	height: 30%; */
}


.container_hasImage {
	/* margin: 10px 10px; */
	/* border: 1px solid #D3D3D3; */
	
}

.container>.title {
	/* margin-top: 10px; */
	background-color: cadetblue;
	color: aliceblue;
	height: 40px;
	text-align: center;
	align-items: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.rthumbnail,
img {
	
	 /* width: 100%;
	    height: 100%; */
	    /* object-fit:cover; */
		width: 450px;
		height: 400px;
}

.pngName {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.3rem;
}

a:link {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: orange;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: none;
}

a:active {
	color: black;
	text-decoration: none;
}

footer {
	height: 50px;
	line-height: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: #FFF;
}

footer span {
	font-size: 1rem;
}